@charset "utf-8";

* {
    padding:0; margin:0; box-sizing: border-box;
}

main, header, nav, article, div, section {
    border: 1px solid lightgrey;
    font-family: 'Times New Roman', Times, serif;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: red;
    text-align: center;
    background: lightgray;
    padding: 5px;
    display: inline-block;
    width: 150px;
}

nav a:hover {
    background: gray;
    color: #FF3300;
}

#aktiv {
    color: white;
    background: red;
}

#aktiv:hover {
    color: gray;
    background: lightgray;
}

#section1 { 
    display:grid; 
    grid-gap: 5px; 
    grid-template-columns: 1fr;
    background-color: white;
    padding: 5px;
}

#section2 { 
    display:grid; 
    grid-gap: 5px; 
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-color: white;
    padding: 5px;
}

article div {
    text-align: center;
    color: lightgrey;
}

main h1 {
    padding: 10px;
    color: black;
}

img{
    width: 100%;
}

main {
    width: 60%;
}